

<style>
*,
:before,
:after {
--auth-border-spacing-x: 0;
--auth-border-spacing-y: 0;
--auth-translate-x: 0;
--auth-translate-y: 0;
--auth-rotate: 0;
--auth-skew-x: 0;
--auth-skew-y: 0;
--auth-scale-x: 1;
--auth-scale-y: 1;
--auth-pan-x: ;
--auth-pan-y: ;
--auth-pinch-zoom: ;
--auth-scroll-snap-strictness: proximity;
--auth-gradient-from-position: ;
--auth-gradient-via-position: ;
--auth-gradient-to-position: ;
--auth-ordinal: ;
--auth-slashed-zero: ;
--auth-numeric-figure: ;
--auth-numeric-spacing: ;
--auth-numeric-fraction: ;
--auth-ring-inset: ;
--auth-ring-offset-width: 0px;
--auth-ring-offset-color: #fff;
--auth-ring-color: rgb(59 130 246 / 0.5);
--auth-ring-offset-shadow: 0 0 #0000;
--auth-ring-shadow: 0 0 #0000;
--auth-shadow: 0 0 #0000;
--auth-shadow-colored: 0 0 #0000;
--auth-blur: ;
--auth-brightness: ;
--auth-contrast: ;
--auth-grayscale: ;
--auth-hue-rotate: ;
--auth-invert: ;
--auth-saturate: ;
--auth-sepia: ;
--auth-drop-shadow: ;
--auth-backdrop-blur: ;
--auth-backdrop-brightness: ;
--auth-backdrop-contrast: ;
--auth-backdrop-grayscale: ;
--auth-backdrop-hue-rotate: ;
--auth-backdrop-invert: ;
--auth-backdrop-opacity: ;
--auth-backdrop-saturate: ;
--auth-backdrop-sepia: ;
}
::backdrop {
--auth-border-spacing-x: 0;
--auth-border-spacing-y: 0;
--auth-translate-x: 0;
--auth-translate-y: 0;
--auth-rotate: 0;
--auth-skew-x: 0;
--auth-skew-y: 0;
--auth-scale-x: 1;
--auth-scale-y: 1;
--auth-pan-x: ;
--auth-pan-y: ;
--auth-pinch-zoom: ;
--auth-scroll-snap-strictness: proximity;
--auth-gradient-from-position: ;
--auth-gradient-via-position: ;
--auth-gradient-to-position: ;
--auth-ordinal: ;
--auth-slashed-zero: ;
--auth-numeric-figure: ;
--auth-numeric-spacing: ;
--auth-numeric-fraction: ;
--auth-ring-inset: ;
--auth-ring-offset-width: 0px;
--auth-ring-offset-color: #fff;
--auth-ring-color: rgb(59 130 246 / 0.5);
--auth-ring-offset-shadow: 0 0 #0000;
--auth-ring-shadow: 0 0 #0000;
--auth-shadow: 0 0 #0000;
--auth-shadow-colored: 0 0 #0000;
--auth-blur: ;
--auth-brightness: ;
--auth-contrast: ;
--auth-grayscale: ;
--auth-hue-rotate: ;
--auth-invert: ;
--auth-saturate: ;
--auth-sepia: ;
--auth-drop-shadow: ;
--auth-backdrop-blur: ;
--auth-backdrop-brightness: ;
--auth-backdrop-contrast: ;
--auth-backdrop-grayscale: ;
--auth-backdrop-hue-rotate: ;
--auth-backdrop-invert: ;
--auth-backdrop-opacity: ;
--auth-backdrop-saturate: ;
--auth-backdrop-sepia: ;
}
.container {
width: 100%;
}
@media (min-width: 576px) {
.container {
max-width: 576px;
}
}
@media (min-width: 768px) {
.container {
max-width: 768px;
}
}
@media (min-width: 992px) {
.container {
max-width: 992px;
}
}
@media (min-width: 1200px) {
.container {
max-width: 1200px;
}
}
.pointer-events-none {
pointer-events: none;
}
.pointer-events-auto {
pointer-events: auto;
}
.\!visible {
visibility: visible !important;
}
.visible {
visibility: visible;
}
.fixed {
position: fixed;
}
.absolute {
position: absolute;
}
.relative {
position: relative;
}
.inset-y-0 {
top: 0;
bottom: 0;
}
.-bottom-3 {
bottom: -12px;
}
.bottom-0 {
bottom: 0;
}
.left-0 {
left: 0;
}
.left-1\/2 {
left: 50%;
}
.right-0 {
right: 0;
}
.right-2 {
right: 8px;
}
.right-2\.5 {
right: 10px;
}
.top-0 {
top: 0;
}
.top-0\.5 {
top: 2px;
}
.top-1\/2 {
top: 50%;
}
.top-2 {
top: 8px;
}
.top-2\.5 {
top: 10px;
}
.top-full {
top: 100%;
}
.z-10 {
z-index: 10;
}
.z-50 {
z-index: 50;
}
.col-span-2 {
grid-column: span 2 / span 2;
}
.m-0 {
margin: 0;
}
.mx-0 {
margin-left: 0;
margin-right: 0;
}
.mx-auto {
margin-left: auto;
margin-right: auto;
}
.my-0 {
margin-top: 0;
margin-bottom: 0;
}
.my-1 {
margin-top: 4px;
margin-bottom: 4px;
}
.my-3 {
margin-top: 12px;
margin-bottom: 12px;
}
.my-6 {
margin-top: 24px;
margin-bottom: 24px;
}
.my-auto {
margin-top: auto;
margin-bottom: auto;
}
.\!mb-0 {
margin-bottom: 0 !important;
}
.-mt-5 {
margin-top: -20px;
}
.mb-0 {
margin-bottom: 0;
}
.mb-0\.5 {
margin-bottom: 2px;
}
.mb-1 {
margin-bottom: 4px;
}
.mb-2 {
margin-bottom: 8px;
}
.mb-2\.5 {
margin-bottom: 10px;
}
.mb-3 {
margin-bottom: 12px;
}
.mb-3\.5 {
margin-bottom: 14px;
}
.mb-4 {
margin-bottom: 16px;
}
.mb-5 {
margin-bottom: 20px;
}
.ml-2 {
margin-left: 8px;
}
.ml-auto {
margin-left: auto;
}
.mr-1 {
margin-right: 4px;
}
.mr-2 {
margin-right: 8px;
}
.mr-2\.5 {
margin-right: 10px;
}
.mr-3 {
margin-right: 12px;
}
.mt-2 {
margin-top: 8px;
}
.mt-3 {
margin-top: 12px;
}
.mt-5 {
margin-top: 20px;
}
.mt-8 {
margin-top: 32px;
}
.block {
display: block;
}
.inline-block {
display: inline-block;
}
.\!flex {
display: flex !important;
}
.flex {
display: flex;
}
.inline-flex {
display: inline-flex;
}
.grid {
display: grid;
}
.hidden {
display: none;
}
.h-\[12px\] {
height: 12px;
}
.h-full {
height: 100%;
}
.max-h-\[200px\] {
max-height: 200px;
}
.w-10 {
width: 40px;
}
.w-12 {
width: 48px;
}
.w-4\/12 {
width: 33.333333%;
}
.w-5\/12 {
width: 41.666667%;
}
.w-6\/12 {
width: 50%;
}
.w-7\/12 {
width: 58.333333%;
}
.w-8\/12 {
width: 66.666667%;
}
.w-\[12px\] {
width: 12px;
}
.w-\[455px\] {
width: 455px;
}
.w-\[936px\] {
width: 936px;
}
.w-fit {
width: -moz-fit-content;
width: fit-content;
}
.w-full {
width: 100%;
}
.min-w-full {
min-width: 100%;
}
.max-w-\[100px\] {
max-width: 100px;
}
.max-w-\[160px\] {
max-width: 160px;
}
.max-w-\[320px\] {
max-width: 320px;
}
.max-w-\[455px\] {
max-width: 455px;
}
.max-w-\[475px\] {
max-width: 475px;
}
.max-w-full {
max-width: 100%;
}
.flex-\[0_0_100\%\] {
flex: 0 0 100%;
}
.flex-\[0_0_auto\] {
flex: 0 0 auto;
}
.flex-auto {
flex: 1 1 auto;
}
.-translate-x-1\/2 {
--auth-translate-x: -50%;
transform: translate(var(--auth-translate-x), var(--auth-translate-y))
rotate(var(--auth-rotate)) skew(var(--auth-skew-x))
skewY(var(--auth-skew-y)) scaleX(var(--auth-scale-x))
scaleY(var(--auth-scale-y));
}
.-translate-y-1\/2 {
--auth-translate-y: -50%;
transform: translate(var(--auth-translate-x), var(--auth-translate-y))
rotate(var(--auth-rotate)) skew(var(--auth-skew-x))
skewY(var(--auth-skew-y)) scaleX(var(--auth-scale-x))
scaleY(var(--auth-scale-y));
}
.-translate-y-32 {
--auth-translate-y: -128px;
transform: translate(var(--auth-translate-x), var(--auth-translate-y))
rotate(var(--auth-rotate)) skew(var(--auth-skew-x))
skewY(var(--auth-skew-y)) scaleX(var(--auth-scale-x))
scaleY(var(--auth-scale-y));
}
.-translate-y-px {
--auth-translate-y: -1px;
transform: translate(var(--auth-translate-x), var(--auth-translate-y))
rotate(var(--auth-rotate)) skew(var(--auth-skew-x))
skewY(var(--auth-skew-y)) scaleX(var(--auth-scale-x))
scaleY(var(--auth-scale-y));
}
.translate-y-0 {
--auth-translate-y: 0px;
transform: translate(var(--auth-translate-x), var(--auth-translate-y))
rotate(var(--auth-rotate)) skew(var(--auth-skew-x))
skewY(var(--auth-skew-y)) scaleX(var(--auth-scale-x))
scaleY(var(--auth-scale-y));
}
.transform {
transform: translate(var(--auth-translate-x), var(--auth-translate-y))
rotate(var(--auth-rotate)) skew(var(--auth-skew-x))
skewY(var(--auth-skew-y)) scaleX(var(--auth-scale-x))
scaleY(var(--auth-scale-y));
}
@keyframes spin {
to {
transform: rotate(360deg);
}
}
.animate-spin {
animation: spin 1s linear infinite;
}
.cursor-default {
cursor: default;
}
.cursor-not-allowed {
cursor: not-allowed;
}
.cursor-pointer {
cursor: pointer;
}
.cursor-text {
cursor: text;
}
.select-none {
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
.appearance-none {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.grid-flow-col {
grid-auto-flow: column;
}
.grid-cols-1 {
grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-rows-2 {
grid-template-rows: repeat(2, minmax(0, 1fr));
}
.flex-row {
flex-direction: row;
}
.flex-col {
flex-direction: column;
}
.flex-wrap {
flex-wrap: wrap;
}
.flex-nowrap {
flex-wrap: nowrap;
}
.content-start {
align-content: flex-start;
}
.items-start {
align-items: flex-start;
}
.items-end {
align-items: flex-end;
}
.items-center {
align-items: center;
}
.items-baseline {
align-items: baseline;
}
.justify-end {
justify-content: flex-end;
}
.justify-center {
justify-content: center;
}
.justify-between {
justify-content: space-between;
}
.gap-2 {
gap: 8px;
}
.gap-2\.5 {
gap: 10px;
}
.gap-4 {
gap: 16px;
}
.gap-x-2 {
-moz-column-gap: 8px;
column-gap: 8px;
}
.gap-x-2\.5 {
-moz-column-gap: 10px;
column-gap: 10px;
}
.self-end {
align-self: flex-end;
}
.justify-self-end {
justify-self: end;
}
.overflow-hidden {
overflow: hidden;
}
.overflow-y-auto {
overflow-y: auto;
}
.overflow-x-hidden {
overflow-x: hidden;
}
.overscroll-contain {
overscroll-behavior: contain;
}
.text-ellipsis {
text-overflow: ellipsis;
}
.whitespace-nowrap {
white-space: nowrap;
}
.\!rounded-none {
border-radius: 0 !important;
}
.rounded {
border-radius: 4px;
}
.rounded-full {
border-radius: 9999px;
}
.rounded-md {
border-radius: 6px;
}
.border-none {
border-style: none;
}
.\!bg-transparent {
background-color: transparent !important;
}
.bg-black\/40 {
background-color: #0006;
}
.bg-black\/5 {
background-color: #0000000d;
}
.bg-error {
background-color: #e24c4c;
}
.bg-info {
background-color: #2196f3;
}
.bg-success {
background-color: #4caf50;
}
.bg-warning {
background-color: #fb923c;
}
.\!p-1 {
padding: 4px !important;
}
.p-2 {
padding: 8px;
}
.p-2\.5 {
padding: 10px;
}
.p-3 {
padding: 12px;
}
.p-5 {
padding: 20px;
}
.\!px-0 {
padding-left: 0 !important;
padding-right: 0 !important;
}
.\!px-2 {
padding-left: 8px !important;
padding-right: 8px !important;
}
.\!px-4 {
padding-left: 16px !important;
padding-right: 16px !important;
}
.px-1 {
padding-left: 4px;
padding-right: 4px;
}
.px-2 {
padding-left: 8px;
padding-right: 8px;
}
.px-2\.5 {
padding-left: 10px;
padding-right: 10px;
}
.px-5 {
padding-left: 20px;
padding-right: 20px;
}
.py-2 {
padding-top: 8px;
padding-bottom: 8px;
}
.py-3 {
padding-top: 12px;
padding-bottom: 12px;
}
.py-3\.5 {
padding-top: 14px;
padding-bottom: 14px;
}
.\!pl-0 {
padding-left: 0 !important;
}
.\!pr-1 {
padding-right: 4px !important;
}
.pb-2 {
padding-bottom: 8px;
}
.pb-2\.5 {
padding-bottom: 10px;
}
.pb-\[2px\] {
padding-bottom: 2px;
}
.pl-10 {
padding-left: 40px;
}
.pl-12 {
padding-left: 48px;
}
.pl-2 {
padding-left: 8px;
}
.pl-2\.5 {
padding-left: 10px;
}
.pl-3 {
padding-left: 12px;
}
.pr-10 {
padding-right: 40px;
}
.pr-2 {
padding-right: 8px;
}
.pr-2\.5 {
padding-right: 10px;
}
.pt-0 {
padding-top: 0;
}
.text-left {
text-align: left;
}
.\!text-center {
text-align: center !important;
}
.text-center {
text-align: center;
}
.text-right {
text-align: right;
}
.align-middle {
vertical-align: middle;
}
.\!text-\[10px\] {
font-size: 10px !important;
}
.text-\[10px\] {
font-size: 10px;
}
.text-\[9px\] {
font-size: 9px;
}
.text-base {
font-size: 16px;
line-height: 24px;
}
.text-lg {
font-size: 18px;
line-height: 28px;
}
.text-sm {
font-size: 14px;
line-height: 20px;
}
.text-xl {
font-size: 20px;
line-height: 28px;
}
.text-xs {
font-size: 12px;
line-height: 16px;
}
.\!font-normal {
font-weight: 400 !important;
}
.font-bold {
font-weight: 700;
}
.font-medium {
font-weight: 500;
}
.font-normal {
font-weight: 400;
}
.uppercase {
text-transform: uppercase;
}
.lowercase {
text-transform: lowercase;
}
.\!leading-none {
line-height: 1 !important;
}
.leading-none {
line-height: 1;
}
.leading-tight {
line-height: 1.25;
}
.text-error {
color: #e24c4c;
}
.text-info {
color: #2196f3;
}
.text-success {
color: #4caf50;
}
.underline {
text-decoration-line: underline;
}
.opacity-0 {
opacity: 0;
}
.opacity-100 {
opacity: 1;
}
.opacity-50 {
opacity: 0.5;
}
.opacity-70 {
opacity: 0.7;
}
.outline-none {
outline: 2px solid transparent;
outline-offset: 2px;
}
.outline-0 {
outline-width: 0px;
}
.outline-offset-0 {
outline-offset: 0px;
}
.blur {
--auth-blur: blur(8px);
filter: var(--auth-blur) var(--auth-brightness) var(--auth-contrast)
var(--auth-grayscale) var(--auth-hue-rotate) var(--auth-invert)
var(--auth-saturate) var(--auth-sepia) var(--auth-drop-shadow);
}
.filter {
filter: var(--auth-blur) var(--auth-brightness) var(--auth-contrast)
var(--auth-grayscale) var(--auth-hue-rotate) var(--auth-invert)
var(--auth-saturate) var(--auth-sepia) var(--auth-drop-shadow);
}
.transition {
transition-property: color, background-color, border-color,
text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
-webkit-backdrop-filter;
transition-property: color, background-color, border-color,
text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
backdrop-filter;
transition-property: color, background-color, border-color,
text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
backdrop-filter, -webkit-backdrop-filter;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 0.15s;
}
.transition-all {
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 0.15s;
}
.transition-colors {
transition-property: color, background-color, border-color,
text-decoration-color, fill, stroke;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 0.15s;
}
.transition-opacity {
transition-property: opacity;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 0.15s;
}
.delay-100 {
transition-delay: 0.1s;
}
.duration-100 {
transition-duration: 0.1s;
}
.duration-200 {
transition-duration: 0.2s;
}
.duration-300 {
transition-duration: 0.3s;
}
.ease-linear {
transition-timing-function: linear;
}
*,
:before,
:after {
font-weight: var(--auth-font-weight, 400);
box-sizing: border-box;
}
:before,
:after {
--auth-content: "";
}
hr {
height: 0;
color: inherit;
border-top-width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: inherit;
font-family: var(--auth-h-font-family, inherit);
}
a {
color: var(--auth-a-color, inherit);
font-size: var(--auth-a-font-size, inherit);
text-decoration: inherit;
}
b,
strong {
font-weight: bolder;
}
small {
font-size: 80%;
}
form {
margin: 0;
}
label {
margin-bottom: 4px;
font-size: var(--auth-label-font-size, 16px);
font-weight: 500;
line-height: 1.5;
outline: none;
}
button,
input,
optgroup,
select,
textarea {
font-family: inherit;
font-feature-settings: inherit;
font-variation-settings: inherit;
font-size: 100%;
font-weight: inherit;
line-height: inherit;
color: inherit;
margin: 0;
padding: 0;
}
button,
select {
text-transform: none;
}
select {
outline: 0;
position: relative;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
color: transparent;
background-color: transparent;
background: transparent;
z-index: 2;
border: 0;
}
select:focus {
background-color: transparent;
outline: 0;
color: transparent;
}
select:disabled,
select[readonly] {
background-color: transparent;
opacity: 1;
}
select::-ms-expand {
display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
background-color: transparent;
background-image: none;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
margin: 0;
font-family: var(--auth-h-font-family, inherit);
}
ol,
ul,
menu {
list-style: none;
margin: 0;
padding: 0;
}
textarea {
resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
opacity: 1;
}
input::placeholder,
textarea::placeholder {
opacity: 1;
}
button,
[role="button"] {
cursor: pointer;
}
:disabled {
cursor: default;
}
img,
svg {
display: block;
}
img {
max-width: 100%;
height: auto;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
display: none;
}
.inputText,
.inputText option {
font-size: var(--auth-input-font-size, 16px);
font-weight: var(--auth-input-font-weight, 400);
line-height: var(--auth-input-line-height, 24px);
color: var(--auth-input-color, rgb(0 0 0 / 1));
background: var(--auth-input-background, rgb(255 255 255 / 1));
border-radius: var(--auth-input-border-radius, 8px);
border-style: var(--auth-input-border-style, solid);
border-width: var(--auth-input-border-width, 1px);
border-color: var(--auth-input-border-color, rgb(0 0 0 / 0.5));
padding: var(--auth-input-padding, 10px);
box-shadow: var(--auth-input-box-shadow, none);
}
.inputText::-moz-placeholder,
.inputText option::-moz-placeholder {
color: var(--auth-input-placeholder-color, rgb(0 0 0 / 0.5));
font-size: var(--auth-input-placeholder-font-size, 16px);
}
.inputText::placeholder,
.inputText option::placeholder {
color: var(--auth-input-placeholder-color, rgb(0 0 0 / 0.5));
font-size: var(--auth-input-placeholder-font-size, 16px);
}
.inputText:enabled:focus,
.inputText.focused:not(.disabled),
.inputText option:enabled:focus,
.inputText option.focused:not(.disabled) {
box-shadow: var(--auth-input-focus-box-shadow, 0 0 5px 0 rgb(0 0 0 / 0.2));
border-color: var(--auth-input-focus-border-color, rgb(0 0 0 / 0.5));
}
.label {
color: var(--auth-label-color, rgb(0 0 0 / 1));
font-size: var(--auth-label-font-size, 14px);
}
.overlay-placehoder {
color: var(--auth-input-placeholder-color, rgb(0 0 0 / 0.5));
}
.input__append {
color: var(--auth-input-color, rgb(0 0 0 / 0.5));
}
.autocomplete {
font-size: var(--auth-autocomplete-font-size, 14px);
background: var(--auth-autocomplete-background, rgb(255 255 255 / 1));
border-radius: var(--auth-input-border-radius, 8px);
box-shadow: var(--auth-autocomplete-box-shadow, 0 0 5px 0 rgb(0 0 0 / 0.3));
}
.autocomplete li {
color: var(--auth-autocomplete-item-color, #999);
border-bottom: var(--auth-autocomplete-border-top, 1px solid #e6e6e6);
}
.autocomplete li:hover {
color: var(--auth-autocomplete-item-color-hover, #999);
background: var(--auth-autocomplete-item-background-hover, rgb(0 0 0 / 0.1));
}
.password-requirements {
color: var(--auth-password-requirements-item-color, #999);
font-size: var(--auth-password-requirements-font-size, 14px);
background: var(
--auth-password-requirements-background,
rgb(255 255 255 / 1)
);
border-radius: var(--auth-input-border-radius, 8px);
box-shadow: var(
--auth-password-requirements-box-shadow,
0 0 5px 0 rgb(0 0 0 / 0.3)
);
}
input[type="radio"] {
background: var(--auth-input-background, rgb(255 255 255 / 1));
}
.btn {
font-size: var(--auth-btn-font-size, inherit);
font-weight: var(--auth-btn-font-weight, 500);
height: var(--auth-btn-height, 42px);
padding-left: var(--auth-btn-padding-left, 40px);
padding-right: var(--auth-btn-padding-right, 40px);
border-radius: var(--auth-btn-border-radius, 8px);
font-family: var(--auth-btn-font-family, inherit);
width: var(--auth-btn-width, inherit);
min-width: var(--auth-btn-min-width, inherit);
}
.btn-primary {
color: var(--auth-btn-primary-color, rgb(255 255 255 / 1));
background: var(--auth-btn-primary-background, rgb(0 0 0 / 1));
border-style: var(--auth-btn-primary-border-style, solid);
border-width: var(--auth-btn-primary-border-width, 0);
border-color: var(--auth-btn-primary-border-color, transparent);
box-shadow: var(--auth-btn-primary-box-shadow, none);
width: var(--auth-btn-width, inherit);
min-width: var(--auth-btn-min-width, inherit);
padding-left: var(--auth-btn-padding-left, 40px);
padding-right: var(--auth-btn-padding-right, 40px);
}
.btn-primary:focus {
box-shadow: var(--auth-btn-primary-focus-box-shadow, none);
}
.btn-primary:hover:not([readonly]):not([disabled]) {
color: var(--auth-btn-primary-hover-color, rgb(255 255 255 / 1));
background: var(--auth-btn-primary-hover-background, rgb(0 0 0 / 1));
border-color: var(--auth-btn-primary-hover-border-color, transparent);
box-shadow: var(--auth-btn-primary-hover-box-shadow, none);
}
.btn-primary[readonly],
.btn-primary[disabled] {
color: var(--auth-btn-primary-disabled-color, rgb(255 255 255 / 1));
background: var(--auth-btn-primary-disabled-background, rgb(0 0 0 / 1));
border-color: var(--auth-btn-primary-disabled-border-color, transparent);
box-shadow: var(--auth-btn-primary-disabled-box-shadow, none);
}
.btn-link {
color: var(--auth-btn-link-color, inherit);
background: var(--auth-btn-link-background, transparent);
border: 0;
box-shadow: none;
width: var(--auth-btn-width, inherit);
min-width: var(--auth-btn-min-width, inherit);
padding-left: var(--auth-btn-padding-left, 40px);
padding-right: var(--auth-btn-padding-right, 40px);
}
.btn-link:hover:not([readonly]):not([disabled]) {
color: var(--auth-btn-link-hover-color, inherit);
background: var(--auth-btn-link-hover-background, transparent);
}
.btn-link[readonly],
.btn-link[disabled] {
color: var(--auth-btn-link-disabled-color, inherit);
background: var(--auth-btn-link-disabled-background, transparent);
}
.btn-secondary {
color: var(--auth-btn-secondary-color, rgb(0 0 0 / 1));
background: var(--auth-btn-secondary-background, rgb(255 255 255 / 1));
border-style: var(--auth-btn-secondary-border-style, solid);
border-width: var(--auth-btn-secondary-border-width, 0);
border-color: var(--auth-btn-secondary-border-color, transparent);
box-shadow: var(--auth-btn-secondary-box-shadow, none);
width: var(--auth-btn-width, inherit);
min-width: var(--auth-btn-min-width, inherit);
padding-left: var(--auth-btn-padding-left, 40px);
padding-right: var(--auth-btn-padding-right, 40px);
}
.btn-secondary:focus {
box-shadow: var(--auth-btn-secondary-focus-box-shadow, none);
}
.btn-secondary:hover:not([readonly]):not([disabled]) {
color: var(--auth-btn-secondary-hover-color, rgb(0 0 0 / 1));
background: var(--auth-btn-secondary-hover-background, rgb(255 255 255 / 1));
border-color: var(--auth-btn-secondary-hover-border-color, transparent);
box-shadow: var(--auth-btn-secondary-hover-box-shadow, none);
}
.btn-secondary[readonly],
.btn-secondary[disabled] {
color: var(--auth-btn-secondary-disabled-color, rgb(0 0 0 / 1));
background: var(
--auth-btn-secondary-disabled-background,
rgb(255 255 255 / 1)
);
border-color: var(--auth-btn-secondary-disabled-border-color, transparent);
box-shadow: var(--auth-btn-secondary-disabled-box-shadow, none);
}
.modal-backdrop {
background: var(--auth-modal-backdrop-background, rgb(0 0 0 / 0.9));
}
.modal-content {
color: var(--auth-modal-content-color, rgb(0 0 0 / 1));
background: var(--auth-modal-content-background, rgb(255 255 255 / 1));
}
.modal-content .modal-body .font-bold.md\:text-xl {
font-family: var(--auth-bold-title-font-family, inherit);
}
.modal-header {
color: var(--auth-modal-header-color, rgb(255 255 255 / 1));
background: var(--auth-modal-header-background, rgb(0 0 0 / 1));
}
.tooltip {
font-size: var(--auth-tooltip-font-size, 14px);
font-weight: var(--auth-tooltip-font-weight, 500);
padding: var(--auth-tooltip-padding, 8px 12px);
text-align: var(--auth-tooltip-text-align, center);
border-radius: var(--auth-tooltip-border-radius, 5px);
border-width: var(--auth-tooltip-border-width, 1px);
box-shadow: var(--auth-tooltip-box-shadow, 0 0 5px 0 rgb(0 0 0 / 0.2));
}
.tooltip:before {
content: " ";
border-style: solid;
border-width: 0 8px 6px;
position: absolute;
top: -5px;
right: 0;
left: 0;
width: 10px;
margin: 0 auto;
}
.tooltip.has-info {
color: var(--auth-info-tooltip-color, #fff);
background: var(--auth-info-tooltip-background, rgb(33 150 243 / 0.9));
border-color: var(--auth-info-tooltip-border-color, rgb(33 150 243 / 0.9));
}
.tooltip.has-info:before {
border-color: transparent transparent
var(--auth-info-tooltip-background, rgb(33 150 243 / 0.9));
}
.tooltip.has-error {
color: var(--auth-error-tooltip-color, #fff);
background: var(--auth-error-tooltip-background, rgb(226 76 76 / 0.9));
border-color: var(--auth-error-tooltip-border-color, rgb(226 76 76 / 0.9));
}
.tooltip.has-error:before {
border-color: transparent transparent
var(--auth-error-tooltip-background, rgb(226 76 76 / 0.9));
}
.tooltip.has-warning {
color: var(--auth-warning-tooltip-color, #fff);
background: var(--auth-warning-tooltip-background, rgb(251 146 60 / 0.9));
border-color: var(--auth-warning-tooltip-border-color, rgb(251 146 60 / 0.9));
}
.tooltip.has-warning:before {
border-color: transparent transparent
var(--auth-warning-tooltip-background, rgb(251 146 60 / 0.9));
}
.message:not(.absolute) {
border-radius: var(--auth-message-border-radius, 6px);
}
.message a {
-webkit-text-decoration: var(--auth-message-link-decoration, underline);
text-decoration: var(--auth-message-link-decoration, underline);
}
.text-primary {
color: var(--auth-primary-color, rgb(0 0 0 / 1));
}
.bg-primary {
color: var(--auth-on-primary, rgb(255 255 255 / 1));
background: var(--auth-primary-color, rgb(0 0 0 / 1));
}
.text-secondary {
color: var(--auth-secondary-color, rgb(0 0 0 / 1));
}
.bg-secondary {
color: var(--auth-on-secondary, rgb(255 255 255 / 1));
background: var(--auth-secondary-color, rgb(0 0 0 / 1));
}
.text-success {
color: var(--auth-success-color, rgb(76 175 80 / 1));
}
.bg-success {
color: var(--auth-on-success, rgb(255 255 255 / 1));
background: var(--auth-success-color, rgb(76 175 80 / 1));
}
.text-info {
color: var(--auth-info-color, rgb(33 150 243 / 1));
}
.bg-info {
color: var(--auth-on-info-color, rgb(255 255 255 / 1));
background: var(--auth-info-color, rgb(33 150 243 / 1));
}
.text-error {
color: var(--auth-error-color, rgb(226 76 76 / 1));
}
.bg-error {
color: var(--auth-on-error-color, rgb(255 255 255 / 1));
background: var(--auth-error-color, rgb(226 76 76 / 1));
}
.text-warning {
color: var(--auth-warning-color, rgb(251 146 60 / 1));
}
.bg-warning {
color: var(--auth-on-warning-color, rgb(0 0 0 / 1));
background: var(--auth-warning-color, rgb(251 146 60 / 1));
}
.license-content {
color: var(--auth-license-content-color, rgb(0 0 0 / 1));
background: var(--auth-license-content-background, rgb(255 255 255 / 1));
}
.scrollbar {
scrollbar-color: var(--auth-scrollbar-color, inherit)
var(--auth-scrollbar-bg, inherit);
scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
width: 6px;
height: 6px;
}
.scrollbar::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
.scrollbar::-webkit-scrollbar-thumb {
background: var(--auth-scrollbar-color, inherit);
border: 0px none transparent;
border-radius: var(--auth-scrollbar-border-radius, 4px);
}
.scrollbar::-webkit-scrollbar-track {
background: var(--auth-scrollbar-bg, inherit);
border: 0px none transparent;
border-radius: 0;
}
.scrollbar::-webkit-scrollbar-corner {
background: transparent;
}
.slide-icon-enter-active,
.slide-icon-leave-active,
.slide-up-enter-active,
.slide-up-leave-active {
transition: all 0.2s ease-out;
}
.slide-up-enter-from,
.slide-up-leave-to {
opacity: 0;
transform: translateY(25px);
}
.slide-icon-enter-from,
.slide-icon-leave-to {
opacity: 0;
transform: translate(5px);
}
.fade-enter-active,
.fade-leave-active {
transition: opacity 0.2s;
}
.fade-enter-from,
.fade-leave-to {
opacity: 0;
}
.stepper-next-enter-active,
.stepper-next-leave-active,
.stepper-prev-enter-active,
.stepper-prev-leave-active {
transition: all 0.2s ease-out;
}
.stepper-next-enter-from,
.stepper-prev-leave-to {
opacity: 0;
transform: translate(25px);
}
.stepper-next-leave-to,
.stepper-prev-enter-from {
opacity: 0;
transform: translate(-25px);
}
.shake {
animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
transform: translateZ(0);
}
@keyframes shake {
10%,
90% {
transform: translate3d(-1px, 0, 0);
}
20%,
80% {
transform: translate3d(2px, 0, 0);
}
30%,
50%,
70% {
transform: translate3d(-4px, 0, 0);
}
40%,
60% {
transform: translate3d(4px, 0, 0);
}
}
.checked\:bg-success:checked {
background-color: #4caf50;
}
.hover\:underline:hover {
text-decoration-line: underline;
}
.hover\:no-underline:hover {
text-decoration-line: none;
}
@media not all and (min-width: 992px) {
.max-lg\:\!leading-tight {
line-height: 1.25 !important;
}
}
@media (min-width: 576px) {
.sm\:mr-2 {
margin-right: 8px;
}
.sm\:mt-6 {
margin-top: 24px;
}
.sm\:block {
display: block;
}
.sm\:flex {
display: flex;
}
.sm\:inline-flex {
display: inline-flex;
}
.sm\:hidden {
display: none;
}
.sm\:h-\[576px\] {
height: 576px;
}
.sm\:h-\[812px\] {
height: 812px;
}
.sm\:h-auto {
height: auto;
}
.sm\:min-h-\[320px\] {
min-height: 320px;
}
.sm\:w-3\/12 {
width: 25%;
}
.sm\:w-5\/12 {
width: 41.666667%;
}
.sm\:w-6\/12 {
width: 50%;
}
.sm\:w-7\/12 {
width: 58.333333%;
}
.sm\:w-\[455px\] {
width: 455px;
}
.sm\:w-\[576px\] {
width: 576px;
}
.sm\:w-\[936px\] {
width: 936px;
}
.sm\:max-w-\[300px\] {
max-width: 300px;
}
.sm\:items-center {
align-items: center;
}
.sm\:p-5 {
padding: 20px;
}
.sm\:px-3 {
padding-left: 12px;
padding-right: 12px;
}
.sm\:\!pr-2 {
padding-right: 8px !important;
}
.sm\:pr-2 {
padding-right: 8px;
}
.sm\:pr-2\.5 {
padding-right: 10px;
}
.sm\:\!text-xs {
font-size: 12px !important;
line-height: 16px !important;
}
.sm\:text-2xl {
font-size: 24px;
line-height: 32px;
}
.sm\:text-lg {
font-size: 18px;
line-height: 28px;
}
.sm\:text-sm {
font-size: 14px;
line-height: 20px;
}
.sm\:text-xs {
font-size: 12px;
line-height: 16px;
}
}
@media (min-width: 600px) {
.min-\[600px\]\:flex {
display: flex;
}
.min-\[600px\]\:h-\[600px\] {
height: 600px;
}
.min-\[600px\]\:w-\[600px\] {
width: 600px;
}
.min-\[600px\]\:items-center {
align-items: center;
}
}
@media (min-width: 768px) {
.md\:mb-0 {
margin-bottom: 0;
}
.md\:mr-1 {
margin-right: 4px;
}
.md\:block {
display: block;
}
.md\:inline {
display: inline;
}
.md\:w-2\/12 {
width: 16.666667%;
}
.md\:w-6\/12 {
width: 50%;
}
.md\:max-w-\[120px\] {
max-width: 120px;
}
.md\:text-base {
font-size: 16px;
line-height: 24px;
}
.md\:text-xl {
font-size: 20px;
line-height: 28px;
}
}
@media (min-width: 992px) {
.lg\:absolute {
position: absolute;
}
.lg\:right-2 {
right: 8px;
}
.lg\:right-2\.5 {
right: 10px;
}
.lg\:block {
display: block;
}
.lg\:flex {
display: flex;
}
.lg\:inline-flex {
display: inline-flex;
}
.lg\:hidden {
display: none;
}
.lg\:h-\[812px\] {
height: 812px;
}
.lg\:h-auto {
height: auto;
}
.lg\:h-full {
height: 100%;
}
.lg\:w-4\/12 {
width: 33.333333%;
}
.lg\:w-6\/12 {
width: 50%;
}
.lg\:w-8\/12 {
width: 66.666667%;
}
.lg\:w-\[936px\] {
width: 936px;
}
.lg\:w-full {
width: 100%;
}
.lg\:max-w-\[412px\] {
max-width: 412px;
}
.lg\:grow {
flex-grow: 1;
}
.lg\:basis-0 {
flex-basis: 0px;
}
.lg\:items-center {
align-items: center;
}
.lg\:pr-0 {
padding-right: 0;
}
.lg\:\!text-sm {
font-size: 14px !important;
line-height: 20px !important;
}
.lg\:text-sm {
font-size: 14px;
line-height: 20px;
}
}
.\[\&\>a\]\:underline > a {
text-decoration-line: underline;
}

</style>