.modal-bg{
    background: #020202;
    padding: 40px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #00548a;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: #0377b4;
}

.modal-dialog {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 490px;
}

label {
    font-size: 14px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.close-icon {
    cursor: pointer;
}

.modal-body {
    margin-top: 10px;
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #303030;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    outline: 0px !important;
    border: 0px !important;
}

button:hover {
    background-color: #020202;
    border: 0px !important;
}

.custom-alert-backdrop {
    background-color: #000000e6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0377b4;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
    max-width: 520px;
    width: 100%;
}

.custom-alert h2 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    background-color: #00548a;
    padding: 18px;
    text-align: left;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
}

.custom-alert p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 20px 25px 10px 25px;
    line-height: 30px;
}

.custom-alert button {
    background: rgb(6 6 6);
    border: 0px !important;
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: unset;
    transform: none;
    margin-bottom: 40px;
    outline: 0px !important;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(0 0 0 / 1) !important;
    background: rgb(255 255 255 / 1);
    border-radius: 4px;
    border: 0px;
    padding: 10px;
    outline: 0px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .custom-alert p {
        margin-bottom: 20px;
        padding: 20px;
    }
}